body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  min-width: 70px;
  min-height: 30px;
  margin: 10px;
}

button:hover, a:hover {cursor: pointer;}

.flexcontainer {
  height: 100vh;
  display: flex;
}

.flexinner {
  margin: auto;
}

.runCalc {
padding: 8px 15px 25px 8px;
border: 1px solid blueviolet;

}

.runCalc tr, td {
  border: none;
}
.runCalc input {
  width:70px;
  text-align: right;
}

.runCalc caption {
  color: white;
  background-color: #8a2be2;
}

.sliderTD {
  width: 300px;
  padding-left: 10px;
}

.rc-slider-mark {
  top: -2px !important;
}
.rc-slider-handle {
  z-index: 99 !important;
}

h1 {
  font-size: 4em;
  margin-bottom: 0px;
}
h2 {
  color: darkslategray;
}
h1, h2 {
  text-align: center;
}
.colorBV {
  color:blueviolet;
}
.colorDO {
  color:darkorange;
}
.fat {
  font-weight: 900;
}
.noFat {
  font-weight: 100;
}